<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Aplicação backend para projeto integrador Univesp.</p>
  </body>
</html>
